#map {
  width: 75%;
  height: 100vh;
  float: right;
}

#queryFilter {
  width: 50%;
  font-size: 15px;
  margin: 0 auto;
  display: block;
  text-align: center;
  cursor: pointer;
}

.banner {
  text-align: center;
  background-color: rgb(90, 227, 149);
  padding: 25px;
}

.locationFilter {
  width: 100%;
  align-content: center;
  padding: 10px;
  background-color: rgb(90, 227, 149);
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 35px;
  top: 150px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background-color: rgb(126, 129, 142);
  padding: 1.5em 1.5em 0;
  font-size: 1.15em;
  
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #1d1c0c;
  margin: 10px;
  font-size: 15px;
  list-style: none;

}

/* Individual item */
.bm-item {
  cursor: pointer;
  text-align: center;
  padding: inherit;
  border: hidden;
  border-radius: 1px 1px 1px 1px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(103, 119, 24, 0.2);
}
