#map {
  width: 75%;
  height: 100vh;
  float: right;
}

#queryFilter {
  width: 50%;
  font-size: 15px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.banner {
  text-align: center;
  background-color: #15d228;
  padding: 25px;
}

.locationFilter {
  width: 100%;
  align-content: center;
  padding: 10px;
  background-color: #15d228;
  overflow: ;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 13px;
  text-align: center;
  list-style: none;
  cursor: pointer;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
